configurations/RedshiftConfigTestingStepFunction.json
{
  "Comment": "Step function to run Redshift What If Analysis",
  "StartAt": "initiate",
  "States": {
    "initiate": {
      "Comment": "Invoke lambda function",
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "TimeoutSeconds": 300,
      "HeartbeatSeconds": 60,
      "ResultPath": "$.what_if_timestamp",
      "ResultSelector": {
        "output.$": "$.Payload"
      },
      "Parameters": {
        "FunctionName": "${FunctionArn}",
        "Payload": {
          "Input": {
            "action": "initiate"
          }
        }
      },
      "Next": "run_extract"
    },
    "run_extract": {
      "Comment": "Invoke lambda function",
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "TimeoutSeconds": 300,
      "HeartbeatSeconds": 60,
      "ResultPath": "$.extract_job_id",
      "ResultSelector": {
        "output.$": "$.Payload"
      },
      "Parameters": {
        "FunctionName": "${FunctionArn}",
        "Payload": {
          "Input": {
            "action": "run_extract",
            "what_if_timestamp.$": "$.what_if_timestamp.output.status"
          }
        }
      },
      "Next": "get_redshift_configurations"
    },
    "get_redshift_configurations": {
      "Comment": "Invoke lambda function",
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "TimeoutSeconds": 300,
      "HeartbeatSeconds": 60,
      "ResultPath": "$.redshift_configurations",
      "ResultSelector": {
        "output.$": "$.Payload"
      },
      "Parameters": {
        "FunctionName": "${FunctionArn}",
        "Payload": {
          "Input": {
            "action": "get_redshift_configurations"
          }
        }
      },
      "Next": "run_redshift_config_testing"
    },
    "run_redshift_config_testing": {
      "Type": "Map",
      "ItemsPath": "$.redshift_configurations.output.status",
      "ResultPath": "$.redshift_configurations.output.status",
      "Parameters": {
        "redshift_cluster_configuration.$": "$$.Map.Item.Value",
        "redshift_cluster_index.$": "$$.Map.Item.Index",
        "what_if_timestamp.$": "$.what_if_timestamp",
        "extract_job_id.$": "$.extract_job_id"
      },
      "Iterator": {
        "StartAt": "get_cluster_identifier",
        "States": {
          "get_cluster_identifier": {
            "Comment": "Invoke lambda function",
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "TimeoutSeconds": 300,
            "HeartbeatSeconds": 60,
            "ResultPath": "$.cluster_identifier",
            "ResultSelector": {
              "output.$": "$.Payload"
            },
            "Parameters": {
              "FunctionName": "${FunctionArn}",
              "Payload": {
                "Input": {
                  "action": "get_cluster_identifier",
                  "cluster_identifier_prefix": "${ClusterIdentifierPrefix}",
                  "redshift_cluster_configuration.$": "$.redshift_cluster_configuration"
                }
              }
            },
            "Next": "cluster_status_wait"
          },
          "cluster_status_wait": {
            "Comment": "Wait 2 minutes before status check",
            "Type": "Wait",
            "Seconds": 120,
            "Next": "check_cluster_status"
          },
          "check_cluster_status": {
            "Comment": "Invoke lambda function",
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "TimeoutSeconds": 300,
            "HeartbeatSeconds": 60,
            "ResultPath": "$.step_output",
            "ResultSelector": {
              "output.$": "$.Payload"
            },
            "Parameters": {
              "FunctionName": "${FunctionArn}",
              "Payload": {
                "Input": {
                  "action": "cluster_status",
                  "cluster_identifier.$": "$.cluster_identifier.output.status"
                }
              }
            },
            "Next": "cluster_status_action"
          },
          "cluster_status_action": {
            "Comment": "check if previous step is complete",
            "Type": "Choice",
            "Choices": [
              {
                "And": [
                  {
                    "Variable": "$.create_cluster",
                    "IsPresent": true
                  },
                  {
                    "Variable": "$.create_cluster.output.status",
                    "StringEquals": "NeedClassicResize"
                  },
                  {
                    "Variable": "$.step_output.output.status",
                    "StringEquals": "availableAvailablecompleted"
                  }
                ],
                "Next": "classic_resize_cluster"
              },
              {
                "And": [
                  {
                    "Variable": "$.create_cluster",
                    "IsPresent": true
                  },
                  {
                    "Variable": "$.create_cluster.output.status",
                    "StringEquals": "NeedClassicResize"
                  },
                  {
                    "Variable": "$.step_output.output.status",
                    "StringEquals": "nonExistent"
                  }
                ],
                "Next": "cluster_status_wait"
              },
              {
                "Variable": "$.step_output.output.status",
                "StringEquals": "availableAvailablecompleted",
                "Next": "update_wlm_config"
              },
              {
                "Variable": "$.step_output.output.status",
                "StringEquals": "availableAvailable",
                "Next": "update_wlm_config"
              },
              {
                "Variable": "$.step_output.output.status",
                "StringEquals": "nonExistent",
                "Next": "create_parameter_group"
              },
              {
                "Variable": "$.step_output.output.status",
                "StringEquals": "pausedPaused",
                "Next": "resume_cluster"
              },
              {
                "Variable": "$.step_output.output.status",
                "StringEquals": "pausedPausedcompleted",
                "Next": "resume_cluster"
              }
            ],
            "Default": "cluster_status_wait"
          },
          "create_parameter_group": {
            "Comment": "sync target redshift parameter group with source cluster",
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "TimeoutSeconds": 300,
            "HeartbeatSeconds": 60,
            "ResultPath": "$.step_output",
            "ResultSelector": {
              "output.$": "$.Payload"
            },
            "Parameters": {
              "FunctionName": "${FunctionArn}",
              "Payload": {
                "Input": {
                  "action": "create_parameter_group",
                  "cluster_identifier.$": "$.cluster_identifier.output.status"
                }
              }
            },
            "Next": "update_parameter_group"
          },
          "update_parameter_group": {
            "Comment": "sync target redshift parameter group with source cluster",
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "TimeoutSeconds": 300,
            "HeartbeatSeconds": 60,
            "ResultPath": "$.step_output",
            "ResultSelector": {
              "output.$": "$.Payload"
            },
            "Parameters": {
              "FunctionName": "${FunctionArn}",
              "Payload": {
                "Input": {
                  "action": "update_parameter_group",
                  "cluster_identifier.$": "$.cluster_identifier.output.status"
                }
              }
            },
            "Next": "create_cluster"
          },
          "create_cluster": {
            "Comment": "Invoke lambda function",
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "TimeoutSeconds": 300,
            "HeartbeatSeconds": 60,
            "ResultPath": "$.create_cluster",
            "ResultSelector": {
              "output.$": "$.Payload"
            },
            "Parameters": {
              "FunctionName": "${FunctionArn}",
              "Payload": {
                "Input": {
                  "action": "create_cluster",
                  "cluster_identifier.$": "$.cluster_identifier.output.status",
                  "redshift_cluster_configuration.$": "$.redshift_cluster_configuration"
                }
              }
            },
            "Next": "cluster_status_wait"
          },
          "classic_resize_cluster": {
            "Comment": "Invoke lambda function",
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "TimeoutSeconds": 300,
            "HeartbeatSeconds": 60,
            "ResultPath": "$.create_cluster",
            "ResultSelector": {
              "output.$": "$.Payload"
            },
            "Parameters": {
              "FunctionName": "${FunctionArn}",
              "Payload": {
                "Input": {
                  "action": "classic_resize_cluster",
                  "cluster_identifier.$": "$.cluster_identifier.output.status",
                  "redshift_cluster_configuration.$": "$.redshift_cluster_configuration"
                }
              }
            },
            "Next": "cluster_status_wait"
          },
          "resume_cluster": {
            "Comment": "Invoke lambda function",
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "TimeoutSeconds": 300,
            "HeartbeatSeconds": 60,
            "ResultPath": "$.step_output",
            "ResultSelector": {
              "output.$": "$.Payload"
            },
            "Parameters": {
              "FunctionName": "${FunctionArn}",
              "Payload": {
                "Input": {
                  "action": "resume_cluster",
                  "cluster_identifier.$": "$.cluster_identifier.output.status"
                }
              }
            },
            "Next": "cluster_status_wait"
          },
          "update_wlm_config": {
            "Comment": "Invoke lambda function",
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "TimeoutSeconds": 300,
            "HeartbeatSeconds": 60,
            "ResultPath": "$.step_output",
            "ResultSelector": {
              "output.$": "$.Payload"
            },
            "Parameters": {
              "FunctionName": "${FunctionArn}",
              "Payload": {
                "Input": {
                  "action": "update_wlm_config",
                  "cluster_identifier.$": "$.cluster_identifier.output.status",
                  "redshift_cluster_configuration.$": "$.redshift_cluster_configuration"
                }
              }
            },
            "Next": "update_wlm_wait"
          },
          "update_wlm_wait": {
            "Comment": "Wait before next",
            "Type": "Wait",
            "Seconds": 120,
            "Next": "run_ddl_and_copy_script"
          },
          "run_ddl_and_copy_script": {
            "Comment": "Invoke lambda function",
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "TimeoutSeconds": 300,
            "HeartbeatSeconds": 60,
            "ResultPath": "$.sql_output",
            "ResultSelector": {
              "output.$": "$.Payload"
            },
            "Parameters": {
              "FunctionName": "${FunctionArn}",
              "Payload": {
                "Input": {
                  "action": "run_ddl_and_copy_script",
                  "cluster_identifier.$": "$.cluster_identifier.output.status"
                }
              }
            },
            "Next": "ddl_and_copy_script_wait"
          },
          "ddl_and_copy_script_wait": {
            "Comment": "Wait before status check",
            "Type": "Wait",
            "Seconds": 120,
            "Next": "ddl_and_copy_script_status_check"
          },
          "ddl_and_copy_script_status_check": {
            "Comment": "Check Task Status",
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "TimeoutSeconds": 300,
            "HeartbeatSeconds": 60,
            "ResultPath": "$.step_output",
            "ResultSelector": {
              "output.$": "$.Payload"
            },
            "Parameters": {
              "FunctionName": "${FunctionArn}",
              "Payload": {
                "Input": {
                  "action": "sql_status",
                  "sql_id.$": "$.sql_output.output.sql_id"
                }
              }
            },
            "Next": "is_ddl_and_copy_script_complete"
          },
          "is_ddl_and_copy_script_complete": {
            "Comment": "check if previous step is complete",
            "Type": "Choice",
            "Choices": [
              {
                "Variable": "$.step_output.output.status",
                "StringEquals": "FINISHED",
                "Next": "run_redshift_performance_test"
              }
            ],
            "Default": "ddl_and_copy_script_wait"
          },
          "run_redshift_performance_test": {
            "Comment": "Invoke lambda function",
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "TimeoutSeconds": 300,
            "HeartbeatSeconds": 60,
            "ResultPath": "$.batch_output",
            "ResultSelector": {
              "output.$": "$.Payload"
            },
            "Parameters": {
              "FunctionName": "${FunctionArn}",
              "Payload": {
                "Input": {
                  "action": "run_redshift_performance_test",
                  "cluster_identifier.$": "$.cluster_identifier.output.status"
                }
              }
            },
            "Next": "run_redshift_performance_test_wait"
          },
          "run_redshift_performance_test_wait": {
            "Comment": "Wait before status check",
            "Type": "Wait",
            "Seconds": 60,
            "Next": "redshift_performance_test_status_check"
          },
          "redshift_performance_test_status_check": {
            "Comment": "Check Task Status",
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "TimeoutSeconds": 300,
            "HeartbeatSeconds": 60,
            "ResultPath": "$.step_output",
            "ResultSelector": {
              "output.$": "$.Payload"
            },
            "Parameters": {
              "FunctionName": "${FunctionArn}",
              "Payload": {
                "Input": {
                  "action": "batch_job_status",
                  "job_id.$": "$.batch_output.output.job_id",
                  "what_if_timestamp.$": "$.what_if_timestamp.output.status"
                }
              }
            },
            "Next": "is_run_redshift_performance_test_complete"
          },
          "is_run_redshift_performance_test_complete": {
            "Comment": "check if previous step is complete",
            "Type": "Choice",
            "Choices": [
              {
                "Variable": "$.step_output.output.status",
                "StringEquals": "FINISHED",
                "Next": "extract_status_check"
              }
            ],
            "Default": "run_redshift_performance_test_wait"
          },
          "extract_wait": {
            "Comment": "Wait before status check",
            "Type": "Wait",
            "Seconds": 60,
            "Next": "extract_status_check"
          },
          "extract_status_check": {
            "Comment": "Check Task Status",
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "TimeoutSeconds": 300,
            "HeartbeatSeconds": 60,
            "ResultPath": "$.step_output",
            "ResultSelector": {
              "output.$": "$.Payload"
            },
            "Parameters": {
              "FunctionName": "${FunctionArn}",
              "Payload": {
                "Input": {
                  "action": "batch_job_status",
                  "job_id.$": "$.extract_job_id.output.job_id"
                }
              }
            },
            "Next": "is_extract_complete"
          },
          "is_extract_complete": {
            "Comment": "check if previous step is complete",
            "Type": "Choice",
            "Choices": [
              {
                "Variable": "$.step_output.output.status",
                "StringEquals": "FINISHED",
                "Next": "run_replay"
              }
            ],
            "Default": "extract_wait"
          },
          "run_replay": {
            "Comment": "Invoke lambda function",
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "TimeoutSeconds": 300,
            "HeartbeatSeconds": 60,
            "ResultPath": "$.batch_output",
            "ResultSelector": {
              "output.$": "$.Payload"
            },
            "Parameters": {
              "FunctionName": "${FunctionArn}",
              "Payload": {
                "Input": {
                  "action": "run_replay",
                  "cluster_identifier.$": "$.cluster_identifier.output.status",
                  "what_if_timestamp.$": "$.what_if_timestamp.output.status"
                }
              }
            },
            "Next": "replay_wait"
          },
          "replay_wait": {
            "Comment": "Wait before status check",
            "Type": "Wait",
            "Seconds": 300,
            "Next": "replay_status_check"
          },
          "replay_status_check": {
            "Comment": "Check Task Status",
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "TimeoutSeconds": 300,
            "HeartbeatSeconds": 60,
            "ResultPath": "$.step_output",
            "ResultSelector": {
              "output.$": "$.Payload"
            },
            "Parameters": {
              "FunctionName": "${FunctionArn}",
              "Payload": {
                "Input": {
                  "action": "batch_job_status",
                  "job_id.$": "$.batch_output.output.job_id",
                  "what_if_timestamp.$": "$.what_if_timestamp.output.status"
                }
              }
            },
            "Next": "is_replay_complete"
          },
          "is_replay_complete": {
            "Comment": "check if previous step is complete",
            "Type": "Choice",
            "Choices": [
              {
                "Variable": "$.step_output.output.status",
                "StringEquals": "FINISHED",
                "Next": "gather_comparison_stats"
              }
            ],
            "Default": "replay_wait"
          },
          "gather_comparison_stats": {
            "Comment": "Invoke lambda function",
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "TimeoutSeconds": 300,
            "HeartbeatSeconds": 60,
            "ResultPath": "$.step_output",
            "ResultSelector": {
              "output.$": "$.Payload"
            },
            "Parameters": {
              "FunctionName": "${FunctionArn}",
              "Payload": {
                "Input": {
                  "action": "gather_comparison_stats",
                  "cluster_identifier.$": "$.cluster_identifier.output.status",
                  "what_if_timestamp.$": "$.what_if_timestamp.output.status",
                  "redshift_cluster_configuration.$": "$.redshift_cluster_configuration"
                }
              }
            },
            "Next": "gather_comparison_stats_wait"
          },
          "gather_comparison_stats_wait": {
            "Comment": "Wait before status check",
            "Type": "Wait",
            "Seconds": 60,
            "Next": "pause_cluster"
          },
          "pause_cluster": {
            "Comment": "Invoke lambda function",
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "TimeoutSeconds": 300,
            "HeartbeatSeconds": 60,
            "ResultPath": "$.step_output",
            "ResultSelector": {
              "output.$": "$.Payload"
            },
            "Parameters": {
              "FunctionName": "${FunctionArn}",
              "Payload": {
                "Input": {
                  "action": "pause_cluster",
                  "cluster_identifier.$": "$.cluster_identifier.output.status",
                  "redshift_cluster_index.$": "$.redshift_cluster_index"
                }
              }
            },
            "End": true
          }
        }
      },
      "Next": "testrun_complete"
    },

    "testrun_complete": {
      "Comment": "testrun complete",
      "Type": "Pass",
      "Parameters": {
        "redshift_configurations.$": "$.redshift_configurations"
      },
      "Next": "run_glue_crawler"
    },
    "run_glue_crawler": {
      "Comment": "Invoke lambda function",
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "TimeoutSeconds": 300,
      "HeartbeatSeconds": 60,
      "ResultPath": "$.step_output",
      "ResultSelector": {
        "output.$": "$.Payload"
      },
      "Parameters": {
        "FunctionName": "${FunctionArn}",
        "Payload": {
          "Input": {
            "action": "run_glue_crawler"
          }
        }
      },
      "Next": "crawler_wait"
    },
    "crawler_wait": {
      "Comment": "Wait before populate results",
      "Type": "Wait",
      "Seconds": 300,
      "Next": "populate_comparison_results"
    },
    "populate_comparison_results": {
      "Comment": "Invoke lambda function",
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "TimeoutSeconds": 300,
      "HeartbeatSeconds": 60,
      "ResultPath": "$.step_output",
      "ResultSelector": {
        "output.$": "$.Payload"
      },
      "Parameters": {
        "FunctionName": "${FunctionArn}",
        "Payload": {
          "Input": {
            "action": "populate_comparison_results",
            "cluster_identifier.$": "$.redshift_configurations.output.status[0].cluster_identifier.output.status",
            "what_if_timestamp.$": "$.redshift_configurations.output.status[0].what_if_timestamp.output.status"
          }
        }
      },
      "End": true
    }
  }
}
